<div class="my-2 p-3 bg-white rounded shadow-sm">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ユーザー</th><th>シナリオ名</th><th>タイトル</th><th>担当</th><th>登録日</th>
      </tr>
    </thead>
    <tbody>
      <% play_histores.each do |play_history| %>
        <tr>
          <td class="align-middle"><%= link_to user_path(play_history.user_id) do %>
              <%= image_tag play_history.user.get_profile_image.variant(resize: "60x60!") %>
              <%= play_history.user.name %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to play_histore_path(play_history.id) do %>
              <%= play_history.scenario_name %>
            <% end %>
          </td>
          <td class="align-middle">
            <span class="p-2 text-dark"><%= play_history.title.name %></span>
          </td>
          <td class="align-middle"><%= play_history.play_style_i18n %></td>
          <td class="align-middle"><%= play_history.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pagenation">
  <%= paginate play_histores %>
</div>