<div class="container">
  <div class="d-flex align-items-center p-3 my-2">
    <h4 class="border-bottom border-primary border-3 page-title">プレイ履歴登録</h4>
  </div>

  <div class="my-2 p-3 bg-white rounded shadow-sm">
    <%= form_with model: @play_history, url: play_histores_path do |f| %>
      <table class="table table-borderless">
        <tr class="border-bottom border-gray pb-2 my-3">
          <th>シナリオ名(必須)</th>
          <td><%= f.text_field :scenario_name, size: "50x1" %></td>
        </tr>
        <tr class="border-bottom border-gray pb-2 mb-3">
          <th>タイトル</th>
          <td><%= f.collection_select(:title_id, Title.all, :id, :name, {}, {class:"select-box"}) %></td>
        </tr>
        <tr class="border-bottom border-gray pb-2 mb-3">
          <th>プレイ方法</th>
          <td>
            <%= f.radio_button :play_style, PlayHistory.play_styles.key(0), checked: true %>
            <%= f.label :play_style_gm, PlayHistory.play_styles_i18n[:gm] %>
            <%= f.radio_button :play_style, PlayHistory.play_styles.key(1) %>
            <%= f.label :play_style_player, PlayHistory.play_styles_i18n[:player] %>
          </td>
        </tr>
        </tr>
        <tr class="border-bottom border-gray pb-2 my-3">
          <th>メモ</th>
          <td><%= f.text_area :memo, placeholder: play_history_memo, size: "60x20" %></td>
        </tr>
        <tr class="border-bottom border-gray pb-2 my-3">
          <th>ネタバレモ</th>
          <td><%= f.text_area :secret_memo, placeholder: play_history_memo, size: "60x20" %></td>
        </tr>
        <tr class="border-bottom border-gray pb-2 my-3">
          <th>公開設定</th>
          <td>
            <%= f.radio_button :is_active, true, checked: true %>
            <%= f.label :is_active_status_true, "公開" %>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active_status_false, "非公開" %>
          </td>
        </tr>
        <tr class="pb-2-my-3">
          <th></th>
          <td>
            <div class="text-right">
              <%= f.submit "登録する", class: "btn btn-primary" %>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>