<div class="container mb-3">
  <div class="d-flex align-items-center p-3 my-2">
    <h4 class="border-bottom border-primary border-3 page-title">プレイ履歴詳細</h4>
  </div>
  <div class="ml-auto">
    <div class="d-flex align-items-center p-3 my-3 text-light bg-gray rounded shadow-sm">
      <%= image_tag @play_history.user.get_profile_image.variant(resize: "80x80!") %>　<%= @play_history.user.name %>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h3 class="d-inline">
        <%= @play_history.scenario_name %>
        <% if @play_history.is_active == false %>
          <i class="fa-solid fa-lock"></i>
        <% end %>
      </h3>
      <span class="sm p-2 text-dark"><%= @play_history.title.name %></span>　担当：<%= @play_history.play_style_i18n %>



    <div class="mb-4">
      <h6 class="border-bottom border-gray pb-2 my-4"><strong>メモ</strong></h6>
      <%= safe_join(@play_history.memo.split("\n"), tag(:br) ) %>
    </div>

    <div class="mb-2">
        <details close><summary class="border-bottom border-gray pb-2 my-4"><h6 class="d-inline"><strong>ネタバレメモ</strong></summary></h6>
        <%= safe_join(@play_history.secret_memo.split("\n"), tag(:br) ) %></details>
    </div>
    <% if user_signed_in? %>
      <% if @play_history.user_id == current_user.id %>
        <%= image_tag ('favorit.png'), :size =>'25x25', class: "favorit_icon" %><%= @play_history.favorites.count %>いいね
      <% else %>
        <% if @play_history.favorited_by?(current_user) %>
          <%= link_to play_histore_favorites_path(@play_history), method: :delete, class: "btn btn-favorited" do %>
            ♥ いいね
          <% end %>
        <% else %>
          <%= link_to play_histore_favorites_path(@play_history), method: :post, class: "btn btn-favorit" do %>
            ♡ いいね
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </strong></p>
    <% if user_signed_in? %>
      <% if @play_history.user_id == current_user.id %>
        <%= link_to "編集", edit_play_histore_path(@play_history.id), class: "btn btn-secondary" %>
        <%= link_to "削除", play_histore_path(@play_history.id), class: "btn btn-danger", method: :delete, data: {confirm: "削除しますか？"} %>
      <% end %>
    <% end %>
  </div>
</div>