<div class="top">
  <div class="top_image">
    <%= image_tag 'top2.png', class: "top_image2" %>
    <div class="top_text">
      <h1 class="top_rogo">卓コミュ</h1>
      <h4>〜TRPG好きが集まる場所〜</h4>
      <%= link_to '　　ログイン　　', new_user_session_path, class: "btn btn btn-login mt-2" %>
      <%= link_to '　新規登録　　', new_user_registration_path, class: "btn btn btn-sign_up mt-2" %>
      <%= link_to 'ゲストログイン', guest_sign_in_path, method: :post, class: "btn btn-secondary btn-block mt-2" %>
    </div>
  </div>
</div>

<div id="about">
  <h3 class="page-title">卓コミュでできること</h3>
  <div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h5 class="border-bottom border-gray pb-2 mb-3"><strong>セッションのプレイ履歴を保存</strong></h5>
      <p>いつ、誰と、どんなセッションをしたか記録を保存できます。<br>
        ネタバレが心配な時はネタバレ用のメモを使うとワンクッションを入れられます。</p>
      <p>自分以外のプレイ履歴に「いいね」することができますが、誰がしたかは公開されません。<br>
        良いと思ったプレイには遠慮なく「いいね」をしましょう！</p>
      <p>非公開モードで保存すると、自分専用の記録として使用できます。</p>
        <%= image_tag ('about1.png'), class: "about_image mb-5" %>

      <h5 class="border-bottom border-gray pb-2 mb-3"><strong>セッションのメンバー募集</strong></h5>
      <p>プレイヤー募集、ゲームマスター募集を投稿することができます。<br>
        コメント欄で他のユーザーとやりとりしてみましょう。</p>
        <%= image_tag ('about2.png'), class: "about_image mb-5" %>

      <h5 class="border-bottom border-gray pb-2 mb-3"><strong>ユーザー検索</strong></h5>
      <p>卓コミュのユーザー名で特定のユーザーを探せます。<br>
        友達や気の合いそうな人を見つけてフォローすると、マイページから相手のプレイ履歴などを見に行きやすくなります。</p>
        <p>マイページからユーザーを非公開にすると、ユーザーの検索画面に表示されません。</p>
        <%= image_tag ('about3.png'), class: "about_image" %>
    </div>
  </div>
</div>
