<div class="container mb-3">
  <div class="d-flex align-items-center p-3 my-2">
    <h4 class="border-bottom border-primary border-3 page-title">募集詳細</h4>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <%= image_tag @recruit.user.get_profile_image.variant(resize: "80x80!") %>　<%= @recruit.user.name %>
    <h3 class="d-inline ml-3"><%= @recruit.scenario_name %></h3>
    <% if @recruit.title_id == 1 %>
      　<span class="p-2 bg-success text-light"><%= @recruit.title.name %></span>
    <% else %>
      　<span class="p-2 bg-warning text-light"><%= @recruit.title.name %></span>
    <% end %>
    <p class="mt-3"><strong>
      <% if @recruit.recruit_status == true %>
        <span class="text-success">募集中</span>
      <% else %>
        <span class="text-secondary">募集終了</span>
      <% end %>
    </strong></p>
    <div class="mb-3">
      <h6 class="border-bottom border-gray pb-2 my-4"><strong>メッセージ</strong></h6>
      <%= safe_join(@recruit.message.split("\n"), tag(:br) ) %>
    </div>
    <%= link_to "編集", edit_admin_recruit_path(@recruit.id), class: "btn btn-secondary" %>
    <%= link_to "削除", admin_recruit_path(@recruit.id), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"} %>
  </div>

  <div class="align-items-center p-3 my-3 text-light bg-gray rounded shadow-sm">
    <p>コメント</p>
    <div class="row border-bottom border-gray p-2 my-4 mx-1">
      <% @recruit.comments.each do |comment| %>
        <div class="col-auto">
          <%= image_tag comment.user.get_profile_image.variant(resize: "60x60!") %><%= comment.user.name %>
        </div>
        <div class="col-auto">
          <%= safe_join(comment.comment.split("\n"),tag(:br)) %>
        </div>
        <div class="col-auto">
          <%= comment.updated_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
        <div class="col-auto">
          <%= link_to "削除", admin_recruit_comments_path(comment.recruit, comment), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
        </div>
    <% end %>
    </div>
  </div>
  <%= link_to "一覧に戻る", recruits_path, class: "btn btn-info" %>
</div>