<div class="container">
  <div class="d-flex align-items-center px-3 pt-3 mt-2">
    <h4 class="border-bottom border-primary border-3 page-title">下書き一覧</h4>
  </div>

  <div class="my-2 p-3 bg-white rounded shadow-sm">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>ユーザー名</th>
          <th>シナリオ名</th>
          <th>タイトル</th>
          <th>更新日</th>
        </tr>
      </thead>
      <tbody>
        <% @recruits.each do |recruit| %>
          <tr>
            <td class="pt-2 pr-2">
              <%= link_to user_path(recruit.user.id) do %>
                <%= image_tag recruit.user.get_profile_image.variant(resize: "60x60!") %>
                <%= recruit.user.name %>
              <% end %>
            </td>
            <td class="align-middle">
              <%= link_to recruit_path(recruit.id) do %>
                <%= recruit.scenario_name %>
              <% end %>
            </td>
            <td class="align-middle">
              <% if recruit.title_id == 1 %>
                <span class="p-2 bg-success text-light"><%= recruit.title.name %></span>
              <% else %>
                <span class="p-2 bg-warning text-light"><%= recruit.title.name %></span>
              <% end %>
            </td>
            <td class="align-middle">
              <%= recruit.updated_at.strftime('%Y/%m/%d') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>