<div class="container mb-3">
  <div class="d-flex align-items-center p-3 my-2">
    <h4 class="border-bottom border-primary border-3 page-title">募集詳細</h4>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <%= image_tag @recruit.user.get_profile_image.variant(resize: "80x80!") %>　<%= @recruit.user.name %>
    <h3 class="d-inline ml-3"><%= @recruit.scenario_name %></h3>
      <span class="p-2 text-dark"><%= @recruit.title.name %></span>
    <p class="mt-3"><strong>
      <% if @recruit.status == "published" %>
        <% if @recruit.recruit_status == true %>
          <span class="text-success">募集中</span>
        <% else %>
          <span class="text-secondary">募集終了</span>
        <% end %>
      <% else %>
        <span class="text-info">下書き</span>
      <% end %>
    </strong></p>
    <div class="mb-3">
      <h6 class="border-bottom border-gray pb-2 my-4"><strong>メッセージ</strong></h6>
      <%= safe_join(@recruit.message.split("\n"), tag(:br) ) %>
    </div>
    <% if user_signed_in? %>
      <% if @recruit.user_id == current_user.id %>
        <%= link_to "編集", edit_recruit_path(@recruit.id), class: "btn btn-secondary" %>
        <%= link_to "削除", recruit_path(@recruit.id), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"} %>
      <% end %>
    <% end %>
  </div>
  <% if @recruit.status == "published" %>
    <div class="align-items-center p-3 my-3 text-light bg-gray rounded shadow-sm">
      <p>コメント</p>
      <div class="row border-bottom border-gray p-2 mt-4 mx-1"></div>
        <table class="table table-borderless">
          <% @recruit.comments.each do |comment| %>
            <tr class="row border-bottom border-gray p-2 mx-1">
              <td><%= image_tag comment.user.get_profile_image.variant(resize: "60x60!") %>　<%= comment.user.name %></td>
              <td><%= safe_join(comment.comment.split("\n"),tag(:br)) %></td>
              <td><%= comment.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
              <td><% if comment.user == current_user %>
                    <%= link_to "削除", recruit_comment_path(comment.recruit, comment), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <% if user_signed_in? %>
        <div>
          <%= form_with model: [@recruit, @comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメント", size: "60x10" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
</div>