<div class="container">
  <div class="d-flex align-items-center px-3 pt-3 mt-2">
    <h4 class="border-bottom border-primary border-3 page-title">いいね一覧</h4>
  </div>

  <div class="d-flex align-items-center px-3 pb-2 my-2">
    <%= link_to new_play_histore_path, class: "btn btn-primary" do %>
      <i class="fa-solid fa-clipboard-list"></i> プレイ履歴登録
    <% end %>
    <div class="ml-auto">
      <%= form_tag({controller:"play_histores",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索する' %>
      <% end %>
      <%= link_to "条件クリア", play_histores_path, class: "btn btn-secondary mt-1" %>
    </div>
  </div>
  <div class="my-2 p-3 bg-white rounded shadow-sm">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>ユーザー</th><th>シナリオ名</th><th>タイトル</th><th>担当</th><th>登録日</th>
        </tr>
      </thead>
      <tbody>
        <% @favolit_play_histores.each do |favolit_play_history| %>
          <tr>
            <td class="align-middle"><%= link_to user_path(favolit_play_history.user_id) do %>
                <%= image_tag favolit_play_history.user.get_profile_image.variant(resize: "60x60!") %>
                <%= favolit_play_history.user.name %>
              <% end %>
            </td>
            <td class="align-middle">
              <%= link_to play_histore_path(favolit_play_history.id) do %>
                <%= favolit_play_history.scenario_name %>
              <% end %>
            </td>
            <td class="align-middle">
              <span class="p-2 text-dark"><%= favolit_play_history.title.name %></span>
            </td>
            <td class="align-middle"><%= favolit_play_history.play_style_i18n %></td>
            <td class="align-middle"><%= favolit_play_history.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>