<div class="container">
  <div class="d-flex align-items-center px-3 pt-3 mt-2">
    <h4 class="border-bottom border-primary border-3 page-title">いいね一覧</h4>
  </div>

  <div class="d-flex align-items-center px-3 pb-2 my-2">
    <%= link_to new_play_histore_path, class: "btn btn-primary" do %>
      <i class="fa-solid fa-clipboard-list"></i> プレイ履歴登録
    <% end %>
    <div class="ml-auto">
      <%= form_tag({controller:"play_histores",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索する' %>
      <% end %>
      <%= link_to "条件クリア", play_histores_path, class: "btn btn-secondary mt-1" %>
    </div>
  </div>
  <%= render 'public/play_histores/play_history_list', play_histores: @favolit_play_histores %>
</div>