 <h3>ユーザー名検索</h3>

<%= form_tag({controller:"users",action:"index"}, method: :get) do %>
 <%= text_field_tag :search %>
 <%= submit_tag '検索する' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>