<table>
  <tr>
    <th>ユーザー画像</th><td><%= image_tag @user.get_profile_image(100,100) %></td>
  </tr>
  <tr>
    <th>ユーザー名</th><td><%= @user.name %></td>
  </tr>
  <tr>
    <th>メインタイトル</th><td><%= @user.title.name %></td>
  </tr>
  <tr>
    <th>プレイスタイル</th><td><%= @user.main_playstyle %></td>
  </tr>
  <tr>
    <th>コメント</th><td><%= @user.message %></td>
  </tr>
  <tr>
    <th></th><td><%= @user.is_private %></td>
  </tr>
</table>
<%= link_to "編集", edit_user_path(@user.id) %>